.header
    padding 15px 0
    border-bottom 1px solid var(--color-blue-light)
    background-color var(--color-purple-light)
    box-shadow 0 2px 4px rgba(0, 0, 0, 0.1)

    &-logo
        display flex
        align-items center
        justify-content center
        gap 10px
        transition opacity 0.25s ease-in-out

        &:hover
            opacity 0.7

        img
            fill var(--color-dark)
            width 25px

        h1
            font-size 24px
            color var(--color-dark)