.subscription
    &-form
        display flex
        gap 10px
        align-items center
        margin-bottom 100px

    &-input
        padding 15px
        border 1px solid var(--color-blue-light)
        border-radius 5px
        box-shadow 0 2px 4px rgba(0, 0, 0, 0.1)
        width 400px
        font-size 16px

    &-button
        padding 15px 30px
        border none
        font-size 16px
        border-radius 5px
        background-color var(--color-blue)
        box-shadow 0 2px 4px rgba(0, 0, 0, 0.1)
        color white
        transition opacity 0.25s ease-in-out
        cursor pointer

        &:hover
            background-color var(--color-dark)
            color white