color-purple-light = #f5f9ff
color-blue-light = #a9b9f8
color-blue = #5372f0
color-dark = #2c3e50

:root 
    --color-purple-light: color-purple-light
    --color-blue-light: color-blue-light
    --color-blue: color-blue
    --color-dark: color-dark