@media (max-width: 390px)
    .header
        margin-top 20px
        align-items center

        &-logo
            width 60px
            height 60px

        &-title
            font-size 28px

        &-slogan
            max-width 195px
            font-size 15px

    .main
        margin-top 20px

    .adventures
        &-list
            grid-template-columns 1fr
            gap 30px

        &-img
            height 200px
            width 100%

        &-title
            font-size 20px
            margin-top 10px
            margin-bottom 10px

        &-item
            font-size 15px
            grid-template-columns 1fr
            width 300px

    .subscription
        &-form
            align-items center
            gap 5px
            width 300px
            margin-bottom 40px

        &-button
            font-size 12px
            padding 0
            height 30px
            width 40%

        &-input
            font-size 12px
            height 25px
            width 100%

    .footer
        width 100%

        &-logo
            position static
            margin-left 20px

    .container
        padding-inline 20px