@media (max-width: 390px)
    .main
        flex-direction column

    .container
        padding 0

    .posts
        width 100%

    .post
        &-image
            width 90%
            height 200px
            margin-left 20px

        &-about
            width 100%

        &-title
            width 100%

        &-content
            width 100%
            font-size 14px

    .sidebar
        order -1
        width 90%
        margin-top 20px
        margin-left 20px