@media (max-width: 390px) {
    .header {
        gap: 10px;
    }

    .header-logo h1 {
        display: none;
    }

    .header-search {
        padding-left: 0;
    }

    .header-search input {
        width: 290px;
    }

    .filters {
        display: flex;
        flex-direction: column;
        width: 370px;
        margin: 0;
    }

    .layout {
        display: block;
        padding: 10px;
    }

    .layout aside, .layout section {
        display: block;
        width: 100%;
    }

    table {
        display: flex;
        flex-wrap: wrap;
    }

    td {
        width: calc(50% - 10px);
        box-sizing: border-box;
        margin-bottom: 10px;
        border: 1px solid var(--color-blue-light);
        font-size: 14px;
        vertical-align: bottom;
    }

    td img {
        width: 100px;
    }

    td button {
        width: 90px;
        padding: 5px;
        font-size: 14px;
    }

    .footer {
        font-size: 14px;
    }

    button {
        width: 100px;
    }
}
